@import "tailwindcss";

#tasklist::-webkit-scrollbar,
#alltask::-webkit-scrollbar {
    width: 6px; 
    height: 6px; 
}

#tasklist::-webkit-scrollbar-track,
#alltask::-webkit-scrollbar-track {
    background: transparent; 
}

#tasklist::-webkit-scrollbar-thumb,
#alltask::-webkit-scrollbar-thumb {
    background: #666; 
    border-radius: 10px;
}

#tasklist::-webkit-scrollbar-thumb:hover,
#alltask::-webkit-scrollbar-thumb:hover {
    background: #444; 
}


#tasklist,
#alltask {
    scrollbar-width: thin; 
    scrollbar-color: #666 transparent;
    overflow: overlay; 
}


@supports not (overflow: overlay) {
    #tasklist,
    #alltask {
        padding-right: 6px; 
    }
}
